@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Overall design */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 50px;
}

.content {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 50px;
}

#Home {
    overflow: hidden;
}

.card {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-card {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: "header" "para" "buttons";
    font-size: 18px;
    height: 70%;
    width: 60%;
    border-radius: 10px;
}

.card-header {
    grid-area: header;
    font-size: 50px;
    margin: 10px;
    text-align: center;
    color: white;
}

.para {
    grid-area: para;
    margin: 40px;
}


.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: buttons;
}

.btn {
    font-family: 'Permanent Marker', cursive;
    background: none;
    width: 130px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
}

.image {
    width: 50vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}



nav {
    position: sticky;
    top: 0;
    background-color:white;
    z-index: 99;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
}

nav .container ul {
    margin: 0;
    list-style: none;
}

nav .container div {
    display: inline-block;
}

nav .container ul li {
    height: 60px;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    width: 200px;
    color: white;
}

a.active {
    background-color: rgb(23, 64, 139);
}

nav .container ul li.active {
    display: inline-block;
    background-color: rgb(23, 64, 139);
    transition: 0.3s ease background-color;
}

nav .container div.active {
    color: white;
}

/* Lakers design */

#Lakers {
    background-color: #FDB927;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Lakers.active {
    background-color: rgb(23, 64, 139);
}

#lakers-card {
    background-color: #552583;
    border: 3px solid #552583;
    box-shadow: 5px 10px #000000;
}


#lakers-para {
    color: #FDB927;
}

#lakers-btn {
    border: 2px solid #FDB927;
    color: #FDB927;
}

#lakers-btn:hover {
    background: #FDB927;
    border: 2px solid #FDB927;
    color: black;
}


#lakers-image {
    background-image: url("../images/kobe.png");
}

/* Celtics design */

#Celtics {
    background-color: #008348;
}

#Celtics.active {
    background-color: rgb(23, 64, 139);
}

#celtics-image {
    background-image: url("../images/kyle.png");
}

#celtics-card {
    background-color: #000000;
    border: 3px solid #000000;
    box-shadow: 5px 10px #000000;
}

#celtics-para {
    color: #008348;
}

#celtics-btn {
    border: 2px solid #008348;
    color: #008348;
}

#celtics-btn:hover {
    background: #008348;
    border: 2px solid #008348;
    color: black;
}

/* Rockets design */

#Rockets {
    background-color: #ce1141;
}

#Rockets.active {
    background-color: rgb(23, 64, 139);
}

#rockets-image {
    background-image: url("../images/harden.png");
}

#rockets-card {
    background-color: #000000;
    border: 3px solid #000000;
    box-shadow: 5px 10px #000000;
}

#rockets-para {
    color: #ce1141;
}

#rockets-btn {
    border: 2px solid #ce1141;
    color: #ce1141;
}

#rockets-btn:hover {
    background: #ce1141;
    border: 2px solid black;
    color: black;
}

/* Warriors design */

#Warriors {
    background-color: #006bb6;
}

#Warriors.active {
    background-color: rgb(23, 64, 139);
}

#warriors-image {
    background-image: url("../images/curry.png");
}

#warriors-card {
    background-color: #fdb927;
    border: 3px solid #fdb927;
    box-shadow: 5px 10px #26282a;
}

#warriors-para {
    color: #006bb6;
}

#warriors-btn {
    border: 2px solid #006bb6;
    color: #006bb6;
}

#warriors-btn:hover {
    background: #006bb6;
    border: 2px solid #fdb927;
    color: #fdb927;
}

/* Media queries */

@media (max-width: 1400px) and (min-width: 640px) {
    
    html {
        font-size: 14px;
    }

    nav .container ul li {
        display: inline-block;
        color: black;
        text-decoration: none;
        width: 100px;
        color: white;
    }

    .image {
        display: none;
    }

    .inner-card {
        width: 50vw;
    }
}

@media (max-width: 640px) {
    
    html {
        font-size: 14px;
    }

    .logo {
        display: none;
    }

    nav .container ul li {
        display: inline-block;
        color: black;
        text-decoration: none;
        width: 100px;
        color: white;
    }

    .card {
        width: 90%;
        margin: 0;
    }

    .inner-card {
        width: 80vw;
        height: 80%;
    }

    .image {
        display: none;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }

    nav .container ul li {
        width: fit-content;
    }

    nav .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: black;
    }
}